.bg {
  background-image: url("/src/assest/sure2.jpg");
  background-size: cover;
  width: 95vw;
  padding: 40px;
  height: 120vh;
  background-attachment: fixed;
}

a {
  color: green;

}

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  padding: 2px;
  list-style-type: circle;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* .submit {
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 10px;
} */

.submit {
  background-color: white;
  color: green;
  padding: 10px 20px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
  display: none;
  align-items: center;

}

.header-text h4 {
  text-align: center;
  text-decoration: none;
}

.footer-bg {
  background-color: black;
  color: white;
  height: 100px;
  padding-top: 25px;
  text-align: center;
}

.services {
  text-align: center;
}

.top-items h2{
color: green;
/* padding-top: 25px; */
}